@{
    ViewBag.Title = "About";

}
@{
    var answers = ViewBag.Answers;
    List<string> nouns = ViewBag.Nouns;
    List<string> verbs = ViewBag.Verbs;

    string output = "";
    if (TempData.Count > 0)
    {
        try
        {

            output = TempData["answer"].ToString();
            <div class="row mt-4 pt-4 mb-5">
                <div class="col-md-12">
                    <div class="data-header text-uppercase home-border-bottom">
                        <h4>Grongratz! see what Clippy said </h4>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <div class="d-flex data-grid flex-column box-shadow">
                        <div class="data-header text-uppercase ft-15 p-2 home-border-bottom">
                            <span>
                                You question was
                            </span>
                        </div>
                        <div class="data-body p-2 pt-4 pb-4">
                            @Request["q"]
                        </div>

                    </div>

                </div>
                <div class="col-md-6 mt-3">
                    <div class="d-flex data-grid flex-column box-shadow">
                        <div class="data-header text-uppercase ft-15 p-2 home-border-bottom">
                            <span>Clippy responded</span>
                        </div>
                        <div class="data-body p-2 pt-4 pb-4">
                            " @output "
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divid mt-4 mb-5" />
        }
        catch
        {
            output = "Clippy is sorry. She couln't find your answer. Don't blame her. Blame front-end people. Thats the way it goes.";

            <div class="row mt-4 pt-4 mb-5">

                <div class="col-md-12">
                    <div class="d-flex data-grid flex-column box-shadow">
                        <div class="data-header text-uppercase ft-15 p-2 pt-4 pb-4 home-border-bottom">
                            <span>@output</span>
                        </div>

                    </div>
                </div>
            </div>
            <hr class="divid mt-4 mb-5" />
        }
    }
}


<div class="text-wrap pb-3 ">
    <h3>@ViewBag.Message</h3>

    <p class="mb-3 mt-3 ft-17 text-grey">
        This panel is to add a question that can be used in the bot. Use the form to do that. The right side of the page shows statics of the amount that questions has been ask and the amount of users that asked questions.
    </p>

</div>
<hr class="divid" />
<div class="row mt-4 pt-4">
    <div class="col-md-9">
        <div class="d-flex  flex-column  ">

            <div class="data-header text-uppercase p-2 home-border-bottom">
                <h4>Add questions</h4>
            </div>
            <div class="data-body p-2 w-100">
                <p class="p-3  mb-5 msg-wrap ">
                    Add a question here. After the question has been saved, users can ask the question. Important to mention that it is possible from the users point
                    to ask different kind of questions for one answer.
                </p>
                @using (Html.BeginForm("Insert", "Home", FormMethod.Post))
                {
                    <div class="form-group  w-100">
                        <label class="text-uppercase text-grey">Question</label>
                        <input type="text" class="form-control input-text home-input w-100" name="question" value="@Request.Form["question"]" placeholder="your question">
                    </div>
                    <div class="form-group w-100 mt-4">
                        <label class="text-uppercase text-grey">Answer</label>
                        <input type="text" name="answer" value="@Request.Form["answer"]" class="form-control input-text home-input w-100" placeholder="your answer">
                    </div>
                    <div class="form-group text-right mt-4">
                        <input type="submit" name="buttonSubmit" class="btn home-btn" value="SAVE" />
                    </div>

                }

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <div class="data-header text-uppercase p-2 home-border-bottom">
                <h4>Q&A today</h4>
            </div>
            <div class="data-body p-2">
                <div class="qa-box d-flex flex-column align-items justify-content">
                    <span class="ft-16 bold">Questions asked</span>
                    <span class="ft-60">2</span>
                </div>
                <div class="qa-box d-flex flex-column align-items justify-content mt-2">
                    <span class="ft-16 bold">Users questions</span>
                    <span class="ft-60">4</span>
                </div>

            </div>
        </div>
    </div>
</div>

<hr class="divid" />
<div class="row mt-4 pt-4 ">
    <div class="col-md-12">
        <div class="data-header text-uppercase p-2 home-border-bottom">
            <h4>Link Question and Answer</h4>
        </div>
        <div class="data-body p-2 w-100">
            <p class="mb-3 mt-3 text-grey">
                This function make it possible to link a question to an answer. 
            </p>
        </div>
    </div>
</div>

@using (Html.BeginForm("LinkKeywords", "Home", FormMethod.Post))
{
    <div class="row mt-4 pt-4">
        <div class="col-md-3">
            <div class="d-flex data-grid flex-column box-shadow ">
                <div class="data-header text-uppercase ft-15 p-2 home-border-bottom">
                    <span>Verbs</span>
                </div>
                <div class="data-body p-2">
                    <select multiple name="verbList" class="form-control bg-transparent no-border text-white static-select p-0 multi-select" size="5">
                        @foreach (var v in verbs)
                        {
                            <option value="@v">@v</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex data-grid flex-column box-shadow ">
                <div class="data-header text-uppercase ft-15 p-2 home-border-bottom">
                    <span>Answer</span>
                </div>
                <div class="data-body p-2">
                    <select multiple name="answer" class="form-control bg-transparent no-border text-white static-select p-0 multi-select" size="5">
                        @foreach (var a in answers)
                        {
                            <option value="@a">@a</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex data-grid flex-column box-shadow">
                <div class="data-header text-uppercase ft-15 p-2 home-border-bottom">
                    <span>Nouns</span>
                </div>
                <div class="data-body p-2">
                    <select multiple name="nounList" class="form-control bg-transparent no-border text-white static-select p-0 multi-select" size="5">
                        @foreach (var n in nouns)
                        {
                            <option value="@n">@n</option>
                        }
                    </select>

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group text-right mt-4">
                <button type="submit" class="btn home-btn">Koppel</button>
            </div>
        </div>
       
     
    </div>
}

<hr class="divid" />

<div class="row mt-4 pt-4">
    <div class="col-md-9">
        <div class="d-flex  flex-column  ">

            <div class="data-header text-uppercase p-2 home-border-bottom">
                <h4>Ask Clippy</h4>
            </div>
            <div class="data-body p-2 w-100">

                <p class="mb-3 mt-3 pb-4 border-bottom text-grey">
                    After you have add a question you can use this section to test if the question and answer works. In other words this is your personal test area.
                </p>
                @using (Html.BeginForm("Find", "Home", FormMethod.Post))
                {
                    <div class="form-group mt-4 w-100">
                        <label class="text-uppercase text-grey">What is the question that you want to ask Clippy 07?</label>
                        <input type="text" class="form-control input-text home-input" name="answer" value="@Request.Form["answer"]" placeholder="your question">
                    </div>
                    <div class="form-group text-right mt-4">
                        <button class="btn home-btn" type="submit">Submit</button>
                    </div>

                }

            </div>
        </div>
    </div>

</div>

<!--
<h1>Output: @output</h1>
@using (Html.BeginForm("Find", "Home", FormMethod.Post))
{
    <div class="col-md-4">
        <label>Ask a question</label>
    </div>
    <div class="col-md-8">
        <input class="col-md-12" type="text" name="answer" value="@Request.Form["answer"]" />
    </div>
    <button class="btn" type="submit">submit</button>

}




@using (Html.BeginForm("Insert", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>New Q&A</legend>

        <p>
            <label for="genre">Question</label>
            <input type="text" name="question" value="@Request.Form["question"]" />
        </p>

        <p>
            <label for="year">Answer</label>
            <input type="text" name="answer" value="@Request.Form["answer"]" />
        </p>

        <p><input type="submit" name="buttonSubmit" value="Add new question and answer" /></p>
    </fieldset>
}


@* @using (Html.BeginForm("Remove", "Home", FormMethod.Post)) *@
@* { *@
@*     <div class="form-group col-md-4"> *@
@*         <label for="exampleFormControlSelect2">Vraag</label> *@
@*         <select multiple class="form-control"> *@
@* *@
@*             <option hidden value="@Request.Form["type"]">RemoveQuestion</option> *@
@*             @foreach (var user in questions) *@
@*             { *@
@*                 <option value="@Request.Form["remove"]">@user</option> *@
@*             } *@
@* *@
@* *@
@* *@
@* *@
@* *@
@*         </select> *@
@*     </div> *@
@*     <button class="btn btn-default" type="submit">Remove</button> *@
@* } *@
-->
